:host {
  display: block;
  background-color: var(--sn-color-clear, #ffffff);
  padding: 20px 16px;
  margin-bottom: 2px;
  
  &:first-child {
    border-radius: 16px 16px 0 0;
  }
  
  &:last-child {
    border-radius: 0 0 16px 16px;
    margin-bottom: 0px;
  }
  
  &:only-child {
    border-radius: 16px;
    margin-bottom: 0px;
  }
}

.movement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;

  .movement-info {
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex: 1;
    min-width: 0;

    .icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 120px;
      background: var(--sn-color-background, #f2f2f2);
      color: #595959;
      flex-shrink: 0;
      width: 32px;
      height: 32px;

      ion-icon {
        font-size: 18px;
        color: #595959;
      }
    }

    .movement-data {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 0;

      .description {
        font-weight: 700;
        color: var(--sn-color-text-primary, #191919);
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 150%;
      }

      .date {
        font-size: 12px;
        color: var(--sn-color-text-secondary, #92949c);
        line-height: 150%;
      }
    }
  }

  .right-info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 12px;

    .cashback-amount {
      font-size: 14px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: var(--sn-color-cashback-positive, #4caf50);
      margin-bottom: 4px;

      strong {
        color: var(--sn-color-cashback-positive, #4caf50);
        font-size: 18px;
        margin-right: 2px;
      }
    }

    .amount {
      font-size: 12px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: var(--sn-color-text-secondary, #92949c);

      strong {
        margin-right: 2px;
        margin-bottom: 2px;
      }
    }
  }
}

