<div class="movement">
  <div class="movement-info">
    <div class="icon">
      <ion-icon [name]="getIconName(category)"></ion-icon>
    </div>
    <div class="movement-data">
      <div class="description">{{ description }}</div>
      <div class="date">{{ getDateValid() }}</div>
    </div>
  </div>
  <div class="right-info">
    <div class="cashback-amount">
      + {{ formatCashbackAmount() }}
    </div>
    <div class="amount">
      - {{ formatPurchaseAmount() }}
    </div>
  </div>
</div>

