@if (product) {
  <div class="card" [class.clickable]="hasMultipleProducts()" (click)="onCardClick()">
    <p>En tu tarjeta</p>
    <div class="item">
      <div class="info">
        <div class="card-image-container">
          <img 
            [src]="getCardImage(product)" 
            [alt]="formatProductName(product.product?.name || '', product)"
            class="card-image"
            width="56"
            height="36"
            loading="lazy" />
        </div>
        <div class="data">
          <div class="title">
            {{ formatProductName(product.product?.name || '', product) }}
          </div>
          <div class="desc">
            {{ getCardType(product) }} - *{{ getLastFourDigits(product) }}
          </div>
        </div>
      </div>
      @if (hasMultipleProducts()) {
        <div class="chevron">
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      } @else {
        <div></div>
      }
    </div>
  </div>
}

