:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 30px;
  margin-top: 24px;
  padding-bottom: 16px;
}

.promotions-slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--sn-color-text-primary, #191919);
  margin: 16px 0 16px 24px;
  padding: 0;
}

.slider-wrapper {
  min-height: 200px;
  margin-left: 24px;
  width: calc(100% - 24px);
  position: relative;
}

swiper-container {
  width: 100%;
  height: 100%;
  
  &::part(wrapper) {
    padding-bottom: 8px;
  }
  
  &::part(button-prev),
  &::part(button-next) {
    display: none;
  }
}

swiper-slide {
  width: 198px !important;
  height: 450px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
  
  app-promotion-card {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.view-more-link {
  color: var(--sn-color-rockstar, #ec0000);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.7;
  }
}

